# Lectura de fuentes de datos.
- 120 a√±os de olimpiadas. 
- https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results

In [1]:
# Importando librrerias
import os
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Consultando arhivos locales en ruta datasets / inputs
path_input_datasets = "../datasets/input/olimpiadas/"
path_output = "../datasets/output/"
os.listdir(path_input_datasets)
#os.mkdir("../datasets/output")

['athlete_events.csv',
 'Forbes Richest Athletes 1990-2020.csv',
 'noc_regions.csv']

In [3]:
olympics = pd.read_csv(path_input_datasets+'athlete_events.csv')
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Realizando Filtros mascaras, query
### Ejemplo para atletas olimpicos peruanos.

In [4]:
olympics[olympics['NOC'] == 'PER']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1076,605,Fernando J. Abugattas Aboino,M,20.0,190.0,80.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's High Jump,NaN
1077,606,Roberto Abugattas Aboino,M,21.0,182.0,77.0,Peru,PER,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Men's High Jump,NaN
1078,606,Roberto Abugattas Aboino,M,25.0,182.0,77.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's High Jump,NaN
1166,649,Fernando Acevedo Portugues,M,22.0,175.0,65.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's 200 metres,NaN
1167,649,Fernando Acevedo Portugues,M,26.0,175.0,65.0,Peru,PER,1972 Summer,1972,Summer,Munich,Athletics,Athletics Men's 400 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267568,133860,Miguel Zambrano de la Cruz,M,28.0,182.0,148.0,Peru,PER,1980 Summer,1980,Summer,Moskva,Wrestling,"Wrestling Men's Super-Heavyweight, Freestyle",NaN
267640,133894,Yulissa Noelia Zamudio Orl,F,20.0,185.0,75.0,Peru,PER,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Women's Volleyball,NaN
267641,133894,Yulissa Noelia Zamudio Orl,F,24.0,185.0,75.0,Peru,PER,2000 Summer,2000,Summer,Sydney,Volleyball,Volleyball Women's Volleyball,NaN
268048,134100,Ramn Zavaleta,M,24.0,181.0,72.0,Peru,PER,1984 Summer,1984,Summer,Los Angeles,Cycling,"Cycling Men's Road Race, Individual",NaN
268270,134227,Carlos Erick Zegarra Presser,M,23.0,202.0,165.0,Peru,PER,2008 Summer,2008,Summer,Beijing,Judo,Judo Men's Heavyweight,NaN

In [6]:
olympics.query('NOC == "PER"')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1076,605,Fernando J. Abugattas Aboino,M,20.0,190.0,80.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's High Jump,NaN
1077,606,Roberto Abugattas Aboino,M,21.0,182.0,77.0,Peru,PER,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Men's High Jump,NaN
1078,606,Roberto Abugattas Aboino,M,25.0,182.0,77.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's High Jump,NaN
1166,649,Fernando Acevedo Portugues,M,22.0,175.0,65.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's 200 metres,NaN
1167,649,Fernando Acevedo Portugues,M,26.0,175.0,65.0,Peru,PER,1972 Summer,1972,Summer,Munich,Athletics,Athletics Men's 400 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267568,133860,Miguel Zambrano de la Cruz,M,28.0,182.0,148.0,Peru,PER,1980 Summer,1980,Summer,Moskva,Wrestling,"Wrestling Men's Super-Heavyweight, Freestyle",NaN
267640,133894,Yulissa Noelia Zamudio Orl,F,20.0,185.0,75.0,Peru,PER,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Women's Volleyball,NaN
267641,133894,Yulissa Noelia Zamudio Orl,F,24.0,185.0,75.0,Peru,PER,2000 Summer,2000,Summer,Sydney,Volleyball,Volleyball Women's Volleyball,NaN
268048,134100,Ramn Zavaleta,M,24.0,181.0,72.0,Peru,PER,1984 Summer,1984,Summer,Los Angeles,Cycling,"Cycling Men's Road Race, Individual",NaN
268270,134227,Carlos Erick Zegarra Presser,M,23.0,202.0,165.0,Peru,PER,2008 Summer,2008,Summer,Beijing,Judo,Judo Men's Heavyweight,NaN

In [7]:
# Realizando filtros conjuntos, Ejemplo los medallistas de Seul 88.
olympics[(olympics['NOC'] == 'PER') & 
         (olympics['Sport'] == 'Volleyball') & 
         (olympics['Year'] == 1988) & 
         (olympics['Medal'] == 'Silver')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
37847,19448,Luisa Haydee Cervera Cevedon,F,24.0,173.0,70.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
51127,26272,Alejandra de la Guerra,F,20.0,173.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
66098,33819,Denisse Fajardo Garca,F,24.0,171.0,62.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
75122,38118,Miriam Gallardo,F,20.0,168.0,57.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
76249,38692,Rosa Gisella Garca Rivas,F,24.0,175.0,69.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
94622,47883,Sonia Isabel Heredia,F,24.0,175.0,69.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
98804,50004,"Katherine ""Kathy"" Horny",F,18.0,186.0,76.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
147339,73946,Natalia Mara Mlaga Dibos,F,24.0,170.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
185611,93317,"Gabriela Lourdes ""Gaby"" Prez del Solar Cuculiza",F,20.0,194.0,72.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
234999,117844,Cecilia Roxana Tait Villacorta,F,26.0,182.0,70.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
242031,121233,Gina Torrealva,F,26.0,175.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
246625,123484,Cenaida Cebastiana Uribe Medina,F,22.0,174.0,65.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver

In [8]:
# Realizando filtros conjuntos, Ejemplo los medallistas de Seul 88 con la funcion query.
olympics.query('(NOC == "PER") & (Sport == "Volleyball") & (Year == 1988) & (Medal == "Silver")')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
37847,19448,Luisa Haydee Cervera Cevedon,F,24.0,173.0,70.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
51127,26272,Alejandra de la Guerra,F,20.0,173.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
66098,33819,Denisse Fajardo Garca,F,24.0,171.0,62.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
75122,38118,Miriam Gallardo,F,20.0,168.0,57.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
76249,38692,Rosa Gisella Garca Rivas,F,24.0,175.0,69.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
94622,47883,Sonia Isabel Heredia,F,24.0,175.0,69.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
98804,50004,"Katherine ""Kathy"" Horny",F,18.0,186.0,76.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
147339,73946,Natalia Mara Mlaga Dibos,F,24.0,170.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
185611,93317,"Gabriela Lourdes ""Gaby"" Prez del Solar Cuculiza",F,20.0,194.0,72.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
234999,117844,Cecilia Roxana Tait Villacorta,F,26.0,182.0,70.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
242031,121233,Gina Torrealva,F,26.0,175.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
246625,123484,Cenaida Cebastiana Uribe Medina,F,22.0,174.0,65.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver

In [10]:
# Filtros con comparaciones.
olympics[olympics['Age'] < 20].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
87,26,Agnes Erika Aanonsen (-Eyde),F,17.0,169.0,65.0,Norway,NOR,1984 Winter,1984,Winter,Sarajevo,Luge,Luge Women's Singles,NaN
167,69,Tamara Abalde Daz,F,19.0,185.0,72.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
203,96,Carlos Rodolfo Abaunza Balladares,M,18.0,168.0,60.0,Nicaragua,NCA,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's 100 metres,NaN

In [12]:
# Filtro comparando campos peso mayor que la altura.
olympics.query('Weight > Height')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
23155,12177,"Ricardo Blas, Jr.",M,21.0,183.0,214.0,Guam,GUM,2008 Summer,2008,Summer,Beijing,Judo,Judo Men's Heavyweight,NaN
23156,12177,"Ricardo Blas, Jr.",M,25.0,183.0,214.0,Guam,GUM,2012 Summer,2012,Summer,London,Judo,Judo Men's Heavyweight,NaN

In [13]:
# Filtros con listas.
olympics['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [14]:
deportes = ['Tennis','Table Tennis']

In [16]:
olympics[olympics['Sport'].isin(deportes)]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
498,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
499,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Doubles,NaN
500,277,Shaimaa Abdul Aziz,F,27.0,160.0,53.0,Egypt,EGY,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Singles,NaN
582,334,Abubakar Sadiq Abdullahi,M,28.0,NaN,NaN,Nigeria,NGR,1988 Summer,1988,Summer,Seoul,Tennis,Tennis Men's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270980,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
270986,135508,Vera Igorevna Zvonaryova,F,23.0,172.0,59.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Women's Singles,Bronze
270987,135508,Vera Igorevna Zvonaryova,F,23.0,172.0,59.0,Russia-2,RUS,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Women's Doubles,NaN
270988,135508,Vera Igorevna Zvonaryova,F,27.0,172.0,59.0,Russia,RUS,2012 Summer,2012,Summer,London,Tennis,Tennis Women's Singles,NaN
271020,135526,Dniel Zwickl,M,27.0,178.0,71.0,Hungary,HUN,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Men's Singles,NaN

In [17]:
olympics[olympics['Sport'].isin(deportes) & (olympics['City'] == 'Sydney')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
498,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
499,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Doubles,NaN
1457,812,David Dixie Adams,M,30.0,188.0,79.0,South Africa,RSA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
2022,1116,Eldijana Dana Aganovi (-Bentsen),F,28.0,173.0,59.0,Croatia,CRO,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269911,135043,Nenad Zimonji,M,24.0,190.0,92.0,Serbia and Montenegro,SCG,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
270775,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270776,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
270979,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270980,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN

In [18]:
# Filtros isnull 
olympics[olympics['Medal'].isnull()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [20]:
# Filtros notnull 
# opcion 1 negando la condicion con el comando ~
# olympics[ ~ olympics['Medal'].isnull()]
# opcion 2 con el comando pandas notnull
# Filtros isnull 
olympics[olympics['Medal'].notnull()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [21]:
# Realizando filtros Negativos.
olympics[olympics['NOC'] != 'CHN']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [22]:
# Realizando filtros negativos con query.
olympics.query('NOC != "CHN"')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [23]:
# Realizando filtros con String.
olympics_rou = olympics[olympics['NOC'] == 'ROU']

In [25]:
# Realizando filtro por el innicio del nombre de la atleta Nadia.
olympics_rou[olympics_rou['Name'].str.startswith('Nadia')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
43773,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Individual All-Around,Gold
43774,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Team All-Around,Silver
43775,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Floor Exercise,Bronze
43776,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Horse Vault,NaN
43777,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Uneven Bars,Gold
43778,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Balance Beam,Gold
43779,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Individual All-Around,Silver
43780,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Team All-Around,Silver
43781,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Floor Exercise,Gold
43782,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Horse Vault,NaN
43783,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Uneven Bars,NaN
43784,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Balance Beam,Gold

In [26]:
# Realizando filtro por el final del apellido con las letras ci.
olympics_rou[olympics_rou['Name'].str.endswith('ci')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
28823,14927,Virgil Brenci,M,25.0,173.0,71.0,Romania,ROU,1972 Winter,1972,Winter,Sapporo,Alpine Skiing,Alpine Skiing Men's Downhill,NaN
28824,14927,Virgil Brenci,M,25.0,173.0,71.0,Romania,ROU,1972 Winter,1972,Winter,Sapporo,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
28825,14927,Virgil Brenci,M,25.0,173.0,71.0,Romania,ROU,1972 Winter,1972,Winter,Sapporo,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
31269,16072,Antoniu Buci,M,18.0,161.0,62.0,Romania,ROU,2008 Summer,2008,Summer,Beijing,Weightlifting,Weightlifting Men's Featherweight,NaN
42987,22169,Alexandru Coci,M,22.0,174.0,70.0,Romania,ROU,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 200 metres Butterfly,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222795,111910,Eveline Slavici,F,19.0,NaN,NaN,Romania,ROU,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Women's Balance Beam,NaN
224311,112674,Andrei Socaci,M,18.0,164.0,75.0,Romania,ROU,1984 Summer,1984,Summer,Los Angeles,Weightlifting,Weightlifting Men's Lightweight,Silver
224312,112674,Andrei Socaci,M,22.0,164.0,75.0,Romania,ROU,1988 Summer,1988,Summer,Seoul,Weightlifting,Weightlifting Men's Middleweight,NaN
240444,120489,Manuela Trneci,F,23.0,172.0,82.0,Romania,ROU,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Women's Discus Throw,NaN
242445,121429,Liviu Totolici,M,27.0,NaN,NaN,Romania,ROU,1996 Summer,1996,Summer,Atlanta,Water Polo,Water Polo Men's Water Polo,NaN

In [27]:
# Ejercicios. Busqueda del atleta usaint Bolt, busqueda basada en patrones.
olympics[olympics['Name'].str.startswith('Usain')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
24876,13029,Usain St. Leo Bolt,M,17.0,196.0,95.0,Jamaica,JAM,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's 200 metres,NaN
24877,13029,Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 100 metres,Gold
24878,13029,Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 200 metres,Gold
24879,13029,Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 4 x 100 metres Relay,NaN
24880,13029,Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 100 metres,Gold
24881,13029,Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 200 metres,Gold
24882,13029,Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 4 x 100 metres Relay,Gold
24883,13029,Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 100 metres,Gold
24884,13029,Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 200 metres,Gold
24885,13029,Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 4 x 100 metres Relay,Gold

In [30]:
# Ejercicios por busqueda de patrones que contiene parte de un nombre.
olympics[olympics['Name'].str.contains('Phelps') & (olympics['NOC'] == 'USA') & (olympics['Sport'] == 'Swimming')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
187887,94406,"Michael Fred Phelps, II",M,15.0,193.0,91.0,United States,USA,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Butterfly,NaN
187888,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 200 metres Freestyle,Bronze
187889,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Bronze
187890,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Gold
187891,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 100 metres Butterfly,Gold
187892,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 200 metres Butterfly,Gold
187893,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 200 metres Individual Medley,Gold
187894,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 400 metres Individual Medley,Gold
187895,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Medley Relay,Gold
187896,94406,"Michael Fred Phelps, II",M,23.0,193.0,91.0,United States,USA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 200 metres Freestyle,Gold
187897,94406,"Michael Fred Phelps, II",M,23.0,193.0,91.0,United States,USA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold
187898,94406,"Michael Fred Phelps, II",M,23.0,193.0,91.0,United States,USA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Gold
187899,94406,"Michael Fred Phelps, II",M,23.0,193.0,91.0,United States,USA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 100 metres Butterfly,Gold
187900,94406,"Michael Fred Phelps, II",M,23.0,193.0,91.0,United States,USA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 200 metres Butterfly,Gold
187901,94406,"Michael Fred Phelps, II",M,23.0,193.0,91.0,United States,USA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 200 metres Individual Medley,Gold
187902,94406,"Michael Fred Phelps, II",M,23.0,193.0,91.0,United States,USA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 400 metres Individual Medley,Gold
187903,94406,"Michael Fred Phelps, II",M,23.0,193.0,91.0,United States,USA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 4 x 100 metres Medley Relay,Gold
187904,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver
187905,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Gold
187906,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 100 metres Butterfly,Gold
187907,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 200 metres Butterfly,Silver
187908,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 200 metres Individual Medley,Gold
187909,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 400 metres Individual Medley,NaN
187910,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Medley Relay,Gold
187911,94406,"Michael Fred Phelps, II",M,31.0,193.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold
187912,94406,"Michael Fred Phelps, II",M,31.0,193.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Gold
187913,94406,"Michael Fred Phelps, II",M,31.0,193.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Butterfly,Silver
187914,94406,"Michael Fred Phelps, II",M,31.0,193.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 200 metres Butterfly,Gold
187915,94406,"Michael Fred Phelps, II",M,31.0,193.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 200 metres Individual Medley,Gold
187916,94406,"Michael Fred Phelps, II",M,31.0,193.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 4 x 100 metres Medley Relay,Gold

In [41]:
# Ejercicio Atetas que le ganaron una competencia a Michael Fred Phelps, II
olympics_phelps = olympics[olympics['Name'].str.contains('Phelps') & (olympics['NOC'] == 'USA') & (olympics['Sport'] == 'Swimming')]

In [42]:
olympics_phelps = olympics_phelps.query('Medal != "Gold"')
olympics_phelps

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
187887,94406,"Michael Fred Phelps, II",M,15.0,193.0,91.0,United States,USA,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Butterfly,NaN
187888,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 200 metres Freestyle,Bronze
187889,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Bronze
187904,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver
187907,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 200 metres Butterfly,Silver
187909,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 400 metres Individual Medley,NaN
187913,94406,"Michael Fred Phelps, II",M,31.0,193.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Butterfly,Silver

In [43]:
# Creando nueva columna con los eventos.
olympics_phelps['Event_game'] = olympics_phelps['Games'] + ' - ' + olympics_phelps['Event']

In [44]:
olympics_phelps.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Event_game
187887,94406,"Michael Fred Phelps, II",M,15.0,193.0,91.0,United States,USA,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Butterfly,NaN,2000 Summer - Swimming Men's 200 metres Butterfly
187888,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 200 metres Freestyle,Bronze,2004 Summer - Swimming Men's 200 metres Freestyle
187889,94406,"Michael Fred Phelps, II",M,19.0,193.0,91.0,United States,USA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Bronze,2004 Summer - Swimming Men's 4 x 100 metres Fr...
187904,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver,2012 Summer - Swimming Men's 4 x 100 metres Fr...
187907,94406,"Michael Fred Phelps, II",M,27.0,193.0,91.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 200 metres Butterfly,Silver,2012 Summer - Swimming Men's 200 metres Butterfly

In [45]:
# se crea la columna en el dataframe Original.
olympics['Event_game'] = olympics['Games'] + ' - ' + olympics['Event']

In [47]:
# Se realiza una busqueda por listas.
events_phelps = list(olympics_phelps['Event_game'])

In [48]:
events_phelps

["2000 Summer - Swimming Men's 200 metres Butterfly",
 "2004 Summer - Swimming Men's 200 metres Freestyle",
 "2004 Summer - Swimming Men's 4 x 100 metres Freestyle Relay",
 "2012 Summer - Swimming Men's 4 x 100 metres Freestyle Relay",
 "2012 Summer - Swimming Men's 200 metres Butterfly",
 "2012 Summer - Swimming Men's 400 metres Individual Medley",
 "2016 Summer - Swimming Men's 100 metres Butterfly"]

In [49]:
# Busqueda de eventos por la lista.
olympics[olympics['Event_game'].isin(events_phelps) & (olympics['Medal'] == 'Gold')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Event_game
2111,1173,Yannick Agnel,M,20.0,202.0,90.0,France,FRA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2012 Summer - Swimming Men's 4 x 100 metres Fr...
20241,10674,Alain Andr Louis Edmond Bernard,M,29.0,196.0,90.0,France,FRA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2012 Summer - Swimming Men's 4 x 100 metres Fr...
68360,34914,Lyndon Ferns,M,20.0,187.0,87.0,South Africa,RSA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2004 Summer - Swimming Men's 4 x 100 metres Fr...
79554,40403,Fabien Pierre Aurlien Dominique Gilot,M,28.0,193.0,85.0,France,FRA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2012 Summer - Swimming Men's 4 x 100 metres Fr...
134048,67496,Chad Guy Bertrand le Clos,M,20.0,190.0,83.0,South Africa,RSA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 200 metres Butterfly,Gold,2012 Summer - Swimming Men's 200 metres Butterfly
135680,68271,Clment Lefert,M,24.0,185.0,73.0,France,FRA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2012 Summer - Swimming Men's 4 x 100 metres Fr...
137501,69117,Amaury Raymond Leveaux,M,26.0,202.0,88.0,France,FRA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2012 Summer - Swimming Men's 4 x 100 metres Fr...
141436,70965,Ryan Steven Lochte,M,27.0,188.0,88.0,United States,USA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 400 metres Individual Medley,Gold,2012 Summer - Swimming Men's 400 metres Indivi...
147417,73989,"Thomas Andrew ""Tom"" Malchow",M,24.0,198.0,86.0,United States,USA,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Butterfly,Gold,2000 Summer - Swimming Men's 200 metres Butterfly
169198,85056,Ryk Neethling,M,26.0,196.0,95.0,South Africa,RSA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2004 Summer - Swimming Men's 4 x 100 metres Fr...
213783,107355,Roland Mark Schoeman,M,24.0,190.0,84.0,South Africa,RSA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2004 Summer - Swimming Men's 4 x 100 metres Fr...
213955,107436,Joseph Isaac Schooling,M,21.0,184.0,74.0,Singapore,SGP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Butterfly,Gold,2016 Summer - Swimming Men's 100 metres Butterfly
230545,115717,Jrmy Stravius,M,24.0,190.0,86.0,France,FRA,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2012 Summer - Swimming Men's 4 x 100 metres Fr...
239621,120087,Ian James Thorpe,M,21.0,196.0,104.0,Australia,AUS,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 200 metres Freestyle,Gold,2004 Summer - Swimming Men's 200 metres Freestyle
242696,121549,Darian Roy Townsend,M,19.0,195.0,87.0,South Africa,RSA,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold,2004 Summer - Swimming Men's 4 x 100 metres Fr...

In [50]:
# Cambiando el indice por la columna ID.
olympics = olympics.set_index('ID')

In [51]:
olympics.head(10)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Event_game
ID,,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,1992 Summer - Basketball Men's Basketball
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,2012 Summer - Judo Men's Extra-Lightweight
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,1920 Summer - Football Men's Football
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1900 Summer - Tug-Of-War Men's Tug-Of-War
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,1988 Winter - Speed Skating Women's 500 metres
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,"1988 Winter - Speed Skating Women's 1,000 metres"
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,1992 Winter - Speed Skating Women's 500 metres
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,"1992 Winter - Speed Skating Women's 1,000 metres"
5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,1994 Winter - Speed Skating Women's 500 metres
5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,"1994 Winter - Speed Skating Women's 1,000 metres"

In [53]:
# Recuperando todos los valores asociados al indice 5 con loc.
olympics.loc[5]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Event_game
ID,,,,,,,,,,,,,,,
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,1988 Winter - Speed Skating Women's 500 metres
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,"1988 Winter - Speed Skating Women's 1,000 metres"
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,1992 Winter - Speed Skating Women's 500 metres
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,"1992 Winter - Speed Skating Women's 1,000 metres"
5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,1994 Winter - Speed Skating Women's 500 metres
5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,"1994 Winter - Speed Skating Women's 1,000 metres"

In [54]:
# Recuperando la posicion 5 con el metodo iloc.
olympics.iloc[5]

Name                                  Christine Jacoba Aaftink
Sex                                                          F
Age                                                       21.0
Height                                                   185.0
Weight                                                    82.0
Team                                               Netherlands
NOC                                                        NED
Games                                              1988 Winter
Year                                                      1988
Season                                                  Winter
City                                                   Calgary
Sport                                            Speed Skating
Event                       Speed Skating Women's 1,000 metres
Medal                                                      NaN
Event_game    1988 Winter - Speed Skating Women's 1,000 metres
Name: 5, dtype: object

In [55]:
# Filtrando registros por filas y columnas con loc[f, c]
olympics.loc[5, ['Name', 'Sex', 'Games']]

                        Name Sex        Games
ID
5   Christine Jacoba Aaftink   F  1988 Winter
5   Christine Jacoba Aaftink   F  1988 Winter
5   Christine Jacoba Aaftink   F  1992 Winter
5   Christine Jacoba Aaftink   F  1992 Winter
5   Christine Jacoba Aaftink   F  1994 Winter
5   Christine Jacoba Aaftink   F  1994 Winter

In [56]:
# Filtrando registros por filas y columnas definiendo un origen hasta un final con loc[f, c]
olympics.loc[20:25 , 'Name': 'Team']

                         Name Sex   Age  Height  Weight     Team
ID
20         Kjetil Andr Aamodt   M  20.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  20.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  20.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  20.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  22.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  22.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  22.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  22.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  22.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  26.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  26.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  26.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  26.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  30.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  30.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  30.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  30.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  30.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  34.0   176.0    85.0   Norway
20         Kjetil Andr Aamodt   M  34.0   176.0    85.0   Norway
21  Ragnhild Margrethe Aamodt   F  27.0   163.0     NaN   Norway
22              Andreea Aanei   F  22.0   170.0   125.0  Romania
23                Fritz Aanes   M  22.0   187.0    89.0   Norway
23                Fritz Aanes   M  26.0   187.0    89.0   Norway
24           Nils Egil Aaness   M  24.0     NaN     NaN   Norway
24           Nils Egil Aaness   M  24.0     NaN     NaN   Norway
24           Nils Egil Aaness   M  27.0     NaN     NaN   Norway
25           Alf Lied Aanning   M  24.0     NaN     NaN   Norway